body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.App h1 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}

img {
  width: 200px;
  height: auto;
}

h2 {
  text-align: center;
}

.pokemons-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

select {
  margin: 0 auto;
  text-align: center;
}

form {
  margin: 0 auto;
}

.submit-button {
  background-color: rgb(93, 93, 230);
  color: #fff;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: rgb(183, 183, 235);
  color: #fff;
  margin: 5px;
}

.pokemons {
  background-color: rgb(93, 93, 230);
  color: #fff;
  border: 1px solid black;
  padding: 10px 15px;
  text-align: center;
  border-radius: 10px;
}

.pokemons-list p {
  margin: 0 auto;
  margin-top: 10px;
  font-weight: bold;
}

.pokemon-field {
  height: 400px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: rgb(44, 248, 248);
}

.pokemon-fight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.pokemon-comments {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pokemon-comment {
  margin: 0 auto;
  font-size: 32px;
  border: 1px solid black;
  width: 100vw;
  text-align: center;
}

.disable-message {
  color: red;
  border: 1px solid red;
}

.selected-pokemon {
  font-weight: bold;
  font-size: 16px;
  color: green;
  border: 1px solid green;
}

.restart-battle {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.restart-button {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.restart-button:hover {
  background-color: rgb(34, 197, 34);
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .pokemon-fight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: auto;
  }
  .pokemon-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .pokemon-field {
    height: auto;
  }
}
